<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>My Events</title>
</head>
<body>
        <div class="container">
            <span class="border">
                <div class="form-group">
                    <label for="fname">Event :</label>
                    <input type="text" class="form-horizontal" class="form-control" name="first_name">
                </div>
                <div class="form-group">
                        <label for="start_date">Start Date :</label>
                        <input type="date" class="form-horizontal" class="form-control" name="start_date">
                </div>
                <div class="form-group">
                            <label for="end_date">End Date :</label>
                            <input type="date" class="form-horizontal" class="form-control" name="end_date">
                </div>
                <!-- <input type="submit" value="Submit Event" action="/wall"> -->
                <a href="/wall">Back to the wall</a>
                <div>
                <a href="/edit">Edit</a>
                </div>
                <a href="/">Logout</a>
            </span>
        </div>
</body>
</html>